<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<head th:replace="components/head_title :: page_head('Brands - Deskita Admin')">
    <style>

    </style>

    <body>
        <div class="container">
            <nav th:replace="components/Navigation :: navigation"></nav>
            <div class="box_shadow-table">
                <div class="table-content-modify">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Brands management</h2>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i><a class="add-btn" th:href="@{/brands/new}"> ADD NEW</a>
							</button>
                            </div>
                        </div>
                    </div>


                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Brand Id</th>
                                <th>Logo</th>
                                <th>Name</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="brand:${listBrands}">
                                <th>[[${brand.id}]]</th>
                                <th><img th:src="${brand.logo}" style="width: 40px;height: 40px;object-fit: contain;" /></th>
                                <th>[[${brand.name}]]</th>
                                <th>
                                    <a class="fas fa-edit" th:href="@{'/brands/edit/'+${brand.id}}"></a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}"><a class="page-link" th:href="@{'/brands/page/'+${i}}">[[${i}]]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>
    </body>

</html>