<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minium-scale=1.0">

<title>Deskita Admin Control Panel</title>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/css/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/}">Home(current)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/users}">Users</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link " th:href="@{/categories}">Categories</a>
      </li>
    </ul>
    
  </div>
</nav>
<h1>Users</h1>
<a th:href="@{/users/new}">Create new user</a>
<div>
	<table>
		<thead>
			<tr>
				<th>
					User Id
				</th>
				<th>
					Photos
				</th>
				<th>
					First Name
				</th>
				<th>
					Last Name
				</th>
				<th>
					Roles
				</th>
				<th>
					Enabled
				</th>
				<th>Action</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${listUsers}">
				<th >[[${user.id}]]</th>
				<th ></th>
				<th >[[${user.firstName}]]</th>
				<th >[[${user.lastName}]]</th>
				<th >[[${user.roles}]]</th>
				<th > <a th:if="${user.enabled==true}" class="fas fa-check"	href="#"></a></th>
				<th>					
					<a class="fas fa-edit" href="#"></a>
					<a class="far fa-trash-alt" href="#"></a>
				</th>
			</tr>
		</tbody>
	</table>
</div>
</div>
	
</body>
</html>