<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<head th:replace="components/head_title :: page_head('Users - Deskita Admin')">


    <body>
        <div class="container">
            <nav th:replace="components/Navigation :: navigation"></nav>

            <div class="box_shadow-table">
                <div class="table-content-modify">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>[[#{label.usersManagement}]]</h2>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i><a class="add-btn" th:href="@{/users/new}"> [[#{label.add}]]</a>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    [[#{label.userID}]]
                                </th>
                                <th>
                                    [[#{label.userPhoto}]]
                                </th>
                                <th>
                                    [[#{label.userFirstName}]]
                                </th>
                                <th>
                                    [[#{label.userLastName}]]
                                </th>
                                <th>
                                    [[#{label.roles}]]
                                </th>
                                <th>
                                    [[#{label.enabled}]]
                                </th>
                                <th>[[#{label.action}]]</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user:${listUsers}">
                                <th>[[${user.id}]]</th>
                                <th><img src=`[[${user.photos}]]` alt="image "></th>
                                <th>[[${user.firstName}]]</th>
                                <th>[[${user.lastName}]]</th>
                                <th th:text="${user.roles[0].name }"></th>
                                <th>
                                    <a th:if="${user.enabled==true}" class="fas fa-check" href="#"></a>
                                </th>
                                <th>
                                    <a class="edit" title="Edit" th:href="@{'/users/edit/'+${user.id}}" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a class="delete" title="Delete" th:href="@{'/users/delete/'+${user.id}}" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}"><a class="page-link" th:href="@{'/users/page/'+${i}}">[[${i}]]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>





    </body>

</html>