<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  .btn-secondary{
    background: #fff !important;
  }
  .btn-secondary :hover{
    text-decoration: none !important;
  }
  .container-content{
    margin-top: 10px;
    box-shadow: 1px 1px 15px #eaeaea;
    padding: 0 50px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .xemChiTiet_Product{
    color: black;
    font-weight: 600;
    transition: all 0.2;
  }
  .xemChiTiet_Product:hover{
    text-decoration: none;
    transform: scale(1.5);
  }
</style>
<head
        th:replace="components/head_title :: page_head('Advise - Deskita Admin')">


<body>

<div class="container">
  <nav th:replace="components/Navigation :: navigation"></nav>
  <div class="container-content">
  <h1>Tư vấn</h1>

    <form th:action="@{/advises/save}" th:method="POST" th:object="${advise}" enctype="multipart/form-data">
      <input type="hidden" th:field="*{id}" />
      <div class="form-group">

        <label>Họ và tên</label>
        <label th:text="${advise.name}" ></label>


      </div>
      <div class="form-group">

        <label>Số điện thoại</label>
        <label th:text="${advise.phone}"></label>


      </div>
      <div class="form-group">
        <label>Đã giải quyết</label>
        <input type="checkbox" th:field="*{isResolved}"  th:value="${advise.isResolved}" />
      </div>
      <input type="hidden" th:field="*{name}" />

      <input type="hidden" th:field="*{phone}" />

      <input type="hidden" th:field="*{productId}" />

      <button type="submit" value="Save" class="btn btn-primary">Submit</button>

    </form>
    <div class="row" th:object="${product}">
      <div class="product-info col-md-7">
        <h3>Tư vấn sản phẩm</h3>

        <div class="form-group">

          <label>Tên sản phẩm</label>
          <input type="text" th:name="name"
                 th:value="${product.name}" th:field="*{name}"
                 minlength="5" maxlength="50" class="form-control"
                 placeholder="Enter product name:"
                 disabled
          />

        </div>
        <div class="form-group">

          <label>Mô tả ngắn</label>
          <input type="text" th:name="shortDescription"
                 th:value="${product.shortDescription}" th:field="*{shortDescription}"
                 minlength="5" maxlength="50" class="form-control"
                 placeholder="Enter product name:"
                 disabled
          />

        </div>
        <div class="form-group">

          <label>Nội dung</label>
          <article
                  id="article"
          ></article>

        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <a class="xemChiTiet_Product" th:href="@{'/products/edit/'+${product.id}}" >Xem chi tiết</a>
        <img th:src="${product.image}" style="width: 100%">
      </div>
    </div>

  </div>

</div>
</div>
<script type="text/javascript" th:inline="javascript">
  $("#article").html([[${product.fullDescription}]])
</script>
</body>

</html>