<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minium-scale=1.0">

<title>Deskita</title>
<link rel="stylesheet" type="text/css" th:href="@{/register/register_form.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/css/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/cjs/popper.js}"></script>
</head>
<style>
		.index .dropdown-menu{
		display:block
		}
</style>
<body>

<div class="container index">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
	<input type="submit"/>
</form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/}">Home(current)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/users}">Users</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link " th:href="@{/categories}">Categories</a>
      </li>
     
     
      <li class="nav-item">
        <a class="nav-link " th:href="@{/brands}">Brands</a>
      </li>
     
       
       <li class="nav-item">
        <a class="nav-link " th:href="@{/products}">Products</a>
      </li>
      
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/customers}">Customers</a>
      </li>
    
     
      <li class="nav-item">
        <a class="nav-link " th:href="@{/shipping}">Shipping</a>
      </li>
     
     
      <li class="nav-item">
        <a class="nav-link " th:href="@{/orders}">Orders</a>
      </li>
     
     
      <li class="nav-item">
        <a class="nav-link " th:href="@{/report}">Sales Report</a>
      </li>
  
       <li class="nav-item">
        <span class="fas fa-user fa-2x"></span>
      </li>
     
    </ul>
    
  </div>
</nav>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="text-center">Get started with your free account</p>
	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<form th:action="@{/customer/save}" method="post" th:object="${customer}">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="First name" type="text" th:field="*{firstName}">
    </div> <!-- form-group// -->
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Last name" type="text" th:field="*{lastName}">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email address" type="email" th:field="*{email}">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="0">+84</option>
		  
		</select>
    	<input name="" class="form-control" placeholder="Phone number" type="text" th:field="*{phoneNumber}">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control">
			<option selected=""> Select Province</option>
			
		</select>
		<select class="form-control">
			<option selected=""> Select District</option>
			
		</select>
		<select class="form-control">
			<option selected=""> Select Ward</option>
			
		</select>
	</div> <!-- form-group end.// -->
	 <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Address info" type="text" th:field="*{address}">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" id="password" type="password" th:field="*{password}"
        oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
        >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repeat password" type="password" id="confirmPassword"
        oninput="checkPasswordMatch(this)"
        >
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div>
	<script type="text/javascript">
		function checkPasswordMatch(confirmPassword){
			if(confirmPassword.value!= $("#password").val()){
				confirmPassword.setCustomValidity("Passwords do not match");
			} else{
				confirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>