<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head th:replace="components/head_title :: page_head('Deskita')">

<body>
<style type="text/css">
	.carousel-item.banner{
		height: 500px!important;
	    background-size: cover!important;
	    background-repeat: no-repeat !important;
	    background-position: center!important;
	}
	.product_image {
    height: 500px;
      background-size: cover!important;
    background-position: center!important;
}
.product_slide .col-md-4{
	margin-bottom: 20px;
}
</style>
	<div th:replace="components/navigation :: navigation"></div>
	<div class="container">
		<br>
		<br>
		<!-- slide banner -->
		<div id="carouselExampleIndicators" class="carousel slide slide_index" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item banner active" style="background: url(https://cdn.tgdd.vn/2021/09/campaign/Group4288-1920x603.png)">
     
    </div>
    <div class="carousel-item banner" style="background: url(https://cdn.tgdd.vn/2021/09/campaign/desktgd-1920x500.png)">
  
    </div>
    <div class="carousel-item banner" style="background: url(https://cdn.tgdd.vn/2021/08/banner/Thờitrang-1200x200.png)">
     
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
		<!-- End slide banner -->
		<br>
		<br>
		
		<!-- Slide product -->
		<div class="row product_slide">
			<div class="col-md-4" th:each="product: ${products}">
				<a th:href="@{'/product/'+${product.id}}">
				<div class="product_image" th:style="'background: url('+@{'/images/'+${product.image}}+')'" ></div>
				<div class="product_info">
				
					<div class="product_title" th:text="${product.name}"></div>
					<div class="product_price" th:text="${product.shortDescription}"></div>
					<button>Mua ngay</button>
				</div>
				</a>
			</div>
		</div>
		<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"
							th:each="i:${#numbers.sequence(1,totalPage)}"><a
							class="page-link" th:href="@{'/products/page/'+${i}}">[[${i}]]</a></li>
					</ul>
				</nav>
	</div>
</body>
</html>